@using Domain.Interfaces
@inject IUserRepository _userRepository;
@{
    Layout = null;

    string id;
    string area = "-1";

    if (User.Identity.IsAuthenticated)
    {

        id = User.Claims.Where(c => c.Type == "userId").SingleOrDefault().Value;
        var userId = new Guid(id);
        area = _userRepository.GetAreaUserByUserId(userId).Section;
    }
}

        <div class="card shadow mx-1">
            <div class="card-body">
                <div class="table-responsive px-1">
                    <table class="table table-hover table-bordered mx-auto table-striped text-center fs-8 cursor" id="tableList">
                        <thead>
                            <tr>
                                <th scope="col">نام کاربری</th>
                                <th scope="col">ناحیه</th>
                                <th scope="col">شهرستان</th>
                                <th scope="col">بخش</th>
                                <th scope="col">نام</th>
                                <th scope="col">نام خانوادگی</th>
                                <th scope="col">جنسیت</th>
                                <th scope="col">تحصیلات</th>
                                <th scope="col">وضعیت استخدامی</th>
                                <th scope="col">وضعیت تاهل</th>
                                <th scope="col">بیمه</th>
                                <th scope="col">شماره همراه</th>
                                <th scope="col">پست الکترونیک</th>
                                <th scope="col">تاریخ تولد</th>
                                <th scope="col">شهر سکونت</th>
                                <th scope="col" class="px-7">نشانی سکونت</th>
                                <th scope="col">وضعیت</th>
                                <th scope="col">آخرین فعالیت</th>
                                <th scope="col">تاریخ ثبت</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>

                <script type="text/javascript">

                    //Load Grid
                    $(document).ready(function () {
                        GridLoad();
                    });

    if(@area != "2") {
            //Select Row
            $('#tableList tbody').on('click', 'tr', function() {
            if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#activeBtn, #deleteBtn').attr('disabled', true);
            } else {
                table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#activeBtn, #deleteBtn').attr('disabled', false);
            }
        })
            $('#activeBtn, #deleteBtn').attr('disabled', true);
    }
</script>
