@model string
<table style="border:1px solid #ccc;margin:0 auto;width:100%;background:#f5eded">
    <tr>
        <td style="border:1px solid #ccc">
            <h1 style="text-align:center;color:#1472FD;">
                سامانه مدیریت منابع انسانی
            </h1>
        </td>
    </tr>
    <tr>
        <td style="direction: rtl; padding: 20px; border: 1px solid #ccc;">
            <h4>کد تایید: @Model</h4>
        </td>
    </tr>
</table>