<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRM</title>
    <partial name="~/Views/Shared/Partials/General/Refrences/css/_CssPartial.cshtml">
</head>
<body class="position-relative">
    <header class="mb-5">
        <partial name="~/Views/Shared/Partials/General/Header/_HeaderPartial.cshtml" />
    </header>
    <div class="container">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="row footer m-0 border bg-info shadow-lg position-absolute bottom-0 text-muted w-100">
        <partial name="~/Views/Shared/Partials/General/Footer/_FooterPartial.cshtml" />
    </footer>
</body>
<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
@await RenderSectionAsync("Scripts", required: false)
</html>
