﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRM</title>
    <partial name="~/Views/Shared/Partials/General/Refrences/css/_CssPartial.cshtml">
</head>
<body class="position-relative min-vh-100">
    <header class="mb-5">
        <partial name="~/Views/Shared/Partials/General/Header/_HeaderPartial.cshtml" />
    </header>
        <main class="pb-3 mb-5">
            @RenderBody()
        </main>
    <footer class="row m-0 border bg-info shadow-lg text-muted w-100 position-absolute bottom-0">
        <partial name="~/Views/Shared/Partials/General/Footer/_FooterPartial.cshtml" />
    </footer>
</body>
<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
    @await RenderSectionAsync("Scripts", required: false)
</html>