@model Domain.DTOs.Security.Login.LoginViewModel
@{
    ViewData["Title"] = "ورود";
    var areas = ViewData["Areas"] != null
    ? ViewData["Areas"] as List<SelectListItem>
    : new List<SelectListItem>();
}
<div class="row ">
    <div class="card shadow mx-auto col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 p-0 my-3 my-md-5">
        <div class="card-header d-flex justify-content-center align-items-center">
            <h6 class=" mb-0">ورود</h6>
            <i class="fa fa-sign-in text-primary mx-2"></i>
        </div>
        <div class="card-body pb-0">
            <div class="d-flex">
                <i class="fa fa-warning fa-lg text-danger  p-1"></i>
                <p class="fw-bold fs-7">اطلاعات خود را با دقت وارد کنید.</p>
            </div>
            <form asp-action="Login" asp-controller="Home" id="login" method="post">
                @Html.AntiForgeryToken()
                <div class="form-floating mb-3">
                    <select asp-for="Area" class="form-select form-select-sm py-1" aria-label=".form-select-lg" asp-items="areas" id="areas">
                        <option selected class="fs-6">ناحیه شعبه را انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="Area" class="text-danger fs-8" id="areaError"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="UserName" maxlength="10" class="form-control form-control-sm" autocomplete="off" placeholder="کدملی" aria-required="true" />
                    <label asp-for="UserName" class="form-label">کد ملی</label>
                    <span asp-validation-for="UserName" class="text-danger fs-8"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control " autocomplete="off" aria-required="true" placeholder="گذر واژه" type="password" />
                    <label asp-for="Password" class="form-label">گذر واژه</label>
                    <span asp-validation-for="Password" class="text-danger fs-8"></span>
                </div>

                <div class="checkbox mb-2">
                    <label asp-for="RememberMe" class="form-label">
                        مرا به خاطر بسپار
                        <input class="form-check-input" asp-for="RememberMe" />
                    </label>
                </div>
                <div>
                    <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary">ورود</button>
                </div>
                <div class="my-3">
                    <i class="fa fa-key text-primary"></i>
                    <a asp-controller="" asp-action="" class="fs-8 text-decoration-none">گذر واژه خود را فراموش کرده ام</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(function () {
            $("#submit").off("click");
            $("#submit").on("click", function (e) {
                var userName = $("input[name='UserName']").val();
                var password = $("input[name='Password']").val();
                var area = $("#areas").find(':selected').text();
                if (area == "ناحیه شعبه را انتخاب کنید") {
                    $("#areaError").text("تکمیل ورودی ناحیه شعبه ضروری است.");
                }
                else {
                    $("#areaError").text('');
                }
                if (area == "ناحیه شعبه را انتخاب کنید" && password != '' && userName != '') {
                    $("#areaError").text("تکمیل ورودی ناحیه شعبه ضروری است.");
                    e.preventDefault();
                }
            });

        });

        $(document).ready(function () {
            $("#areas").change(function () {
                var area = $("#areas").find(':selected').text();
                if (area != "ناحیه شعبه را انتخاب کنید") {
                    $("#areaError").text('');
                }
                else {
                    $("#areaError").text("تکمیل ورودی ناحیه شعبه ضروری است.");
                }
            });
        });
   </script>
}