@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover" id="DisplayUsers">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
@*                 @{
                    foreach (var item in DisplayUsersVM )
                    {
                        <tr>
                        </tr>
                    }
                } *@
            </tbody>
        </table>
    </div>
</div>