@{
    Layout = null;
}


<div class="row m-0" id="details-box">

</div>

<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
<script type="text/javascript">
    var _getUserDetailsUrl = '@Url.Action("FillDetailsGrid", "Home", new { area = "Province" })'
</script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $.get(_getUserDetailsUrl).done(function (result) {
            $("#details-box").html(result);
        })
    })
</script>