
@{
    Layout = null;
}
@{
    Layout = null;
}
<partial name="~/Views/Shared/Partials/General/Refrences/css/_CssPartial.cshtml" />
<partial name="~/Views/Shared/Partials/General/Refrences/css/_DataTablesCssPartial.cshtml" />

<div class="card shadow mx-1">
    <div class="card-body">
        <div class="table-responsive px-1">
            <table class="table table-hover table-bordered mx-auto text-center fs-8 cursor" id="tableList">
                <thead>
                    <tr>
                        <th scope="col">عنوان</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col">نوع</th>
                        <th scope="col">تاریخ ثبت</th>
                        <th scope="col">بارگیری</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
    <partial name="~/Views/Shared/Partials/General/Refrences/js/_DataTablesJsPartial.cshtml">

        <script type="text/javascript">
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                GridLoad();
            });
        </script>
