<div class="col-12 col-md-4 p-0" id="copy">
    <div class="login-footer cursor text-white-50 p-1">
        &copy; <partial name="~/Views/Shared/Partials/Date/_YearPartial.cshtml" />
        -
        تمامی حقوق برای سامانه
        <h6 class="d-inline text-white-50">
            HRM
        </h6>
        محففوظ است.
    </div>
</div>
<div class="col-12 col-md-4 text-decoration-none rounded-lg d-flex pt-2" id="footer-logo">
    <img src="~/icons/general/footer/footer-logo.png" class="footer-animation mx-auto" />
</div>
<div class="col-12 col-md-4 text-decoration-none pt-2" id="creator">
    <p class="my-md-4 my-1 cursor text-start">
        Created By :
        <a href="https://www.linkedin.com/in/ashkan-motahari/" class="text-decoration-none text-black-50">
            Ashkan Amjad
        </a>
    </p>
</div>