<div class="col-12 col-md-6 p-0" id="copy">
    <div class="login-footer cursor text-white-50 p-1">
        &copy; <partial name="~/Views/Shared/Partials/Date/_YearPartial.cshtml" />
        -
        تمامی حقوق برای سامانه
        <h6 class="d-inline text-white-50">
            ERP
        </h6>
        محففوظ است.
    </div>
</div>
<div class="col-12 col-md-6 text-decoration-none rounded-lg d-flex pt-2" id="footer-logo">
    <img src="~/icons/general/footer/footer-logo.png" class="footer-animation mx-auto mx-md-0" />
</div>
