@{
    Layout = null;
}
<partial name="~/Views/Shared/Partials/General/Refrences/css/_DataTablesCssPartial.cshtml">
    <partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
        <partial name="~/Views/Shared/Partials/General/Refrences/js/_DataTablesJsPartial.cshtml">
            <div id="operation-box" class="modal fade" role="dialog" aria-hidden="true">
            </div>
            <div class="btn btn-outline-primary btn-sm  my-3 mx-1">ارسال - بخش</div>
            <div>
                <button class="btn btn-primary text-white d-flex p-2 justify-content-center mb-3 mx-1" id="addBtn">
                    <i class="fa fa-lg fa-plus align-self-center"></i>
                </button>
            </div>
            <div id="transfers-box">
            </div>
            <script type="text/javascript">
                var _registerUrl = '@Url.Action("Register", "Transfer", new { area = "District" })';
                var _gridUrl = '@Url.Action("FillTransfersGrid", "Transfer", new { area = "District" })';

            </script>
            <script type="text/javascript">
                //List
                $(document).ready(function (e) {
                    $.get(_gridUrl).done(function (result) {
                        $("#transfers-box").html(result);
                    });
                });

                //Reload
                function GridReload() {
                    table.ajax.reload(null, false);
                }

                //Register
                $("#addBtn").off("click").on("click", function (e) {
                    e.preventDefault();
                    $.get(_registerUrl).done(function (result) {
                        $("#operation-box").html(result);
                        $("#operation-box").modal("show");
                    });
                });
            </script>

