<ul class="navbar-nav px-0 navBar" id="navbar">
    <li class="nav-item border-bottom" id="home">
        <a class="nav-link">
            <i class="fa fa-home fa-lg mx-2"></i>
            Home
        </a>
    </li>
    <li class="nav-item border-bottom" id="management">
        <a class="nav-link">
            <i class="fa fa-users fa-lg mx-2"></i>
            Management
        </a>
    </li>
</ul>


