@{
    Layout = null;
}
<partial name="~/Views/Shared/Partials/General/Refrences/css/_CssPartial.cshtml">

    <div class="btn btn-outline-primary btn-sm  my-3 mx-1">گزارش - استان</div>
    <div class="d-flex flex-column my-2 mx-2">
        <div class="row my-1">
            <p class="font-weight-bold text-primary cursor p-0">
                <i class="fa fa-users mx-2"></i>
                تعداد کارمندان سطح استان
            </p>
            <div class="btn-group rounded-0" role="group">
                <button type="button" class="btn btn-outline-success border-start-0 rounded-0 rounded-end">
                    <p class="p-0 m-0">
                        فعال :
                        <span class="font-weight-bold fs-6">10</span>
                    </p>
                </button>
                <button type="button" class="btn btn-outline-danger border-end-0 rounded-0 rounded-start">
                    <p class="p-0 m-0">
                        غیر فعال :
                        <span class="font-weight-bold fs-6">20</span>
                    </p>
                </button>
            </div>
        </div>
        <div class="row mx-0 my-1">
            <div class="col-12 border border-primary rounded-top shadow" style="height:20rem">
            </div>
        </div>
        <div class="row mx-0 my-1">
            <div class="col-12 col-lg-6 border border-primary mb-1 mb-lg-0 my-lg-0 shadow" style="height:20rem">
                
            </div>
            <div class="col-12 col-lg-6 border border-primary mt-1 my-lg-0 shadow" style="height:20rem">
                
            </div>
        </div>
        <div class="row my-1 mx-0">
            <div class="col-12 border border-primary shadow" style="height:20rem">
            </div>
        </div>
        <div class="row my-1 mx-0">
            <div class="col-12 border rounded-bottom border-primary shadow" style="height:20rem">
            </div>
        </div>

    </div>
