@{
    Layout = null;
}
<partial name="~/Views/Shared/Partials/General/Refrences/css/_DataTablesCssPartial.cshtml">
    <partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
        <partial name="~/Views/Shared/Partials/General/Refrences/js/_DataTablesJsPartial.cshtml">
            <div class="btn btn-outline-primary btn-sm  my-3 mx-1">صندوق - شهرستان</div>
