@{
    Layout = null;
}
<partial name="~/Views/Shared/Partials/General/Refrences/css/_CssPartial.cshtml" />
<partial name="~/Views/Shared/Partials/General/Refrences/css/_DataTablesCssPartial.cshtml" />
<div class="card shadow mx-1">
    <div class="card-body">
        <div class="table-responsive px-1">
            <table class="table table-hover table-bordered mx-auto text-center fs-8 cursor" id="tableList">
                <thead>
                    <tr>
                        <th scope="col">نام کاربری</th>
                        <th scope="col">معاونت</th>
                        <th scope="col">نام</th>
                        <th scope="col">نام خانوادگی</th>
                        <th scope="col">ناحیه</th>
                        <th scope="col">شهرستان</th>
                        <th scope="col">بخش</th>
                        <th scope="col">فعالیت</th>
                        <th scope="col">تاریخ ثبت</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>
</div>

<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml" />
<partial name="~/Views/Shared/Partials/General/Refrences/js/_DataTablesJsPartial.cshtml" />
<script type="text/javascript">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        GridLoad();
    });
</script>