<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] HRM</title>
    <partial name="~/Views/Shared/Partials/General/Refrences/css/_CssPartial.cshtml">
        <partial name="~/Views/Shared/Partials/General/Refrences/css/_DataTablesCssPartial.cshtml">
</head>
<body class="min-vh-100">
    <header class="mb-5 mb-xl-0 pb-5 pb-xl-0">
        <partial name="~/Views/Shared/Partials/General/Header/_HeaderPartial.cshtml" />
    </header>
    <hr class="mb-xl-5" />
    <div class="row m-0 p-0">
        <div class="col-xl-2 h-100 ps-lg-0">
            <div class="border rounded mb-2 my-xl-3">
                <partial name="Partials/General/NavBar/_NavBarPartial.cshtml" />
            </div>
        </div>
        <div class="col-xl-10 mt-2 mb-3 my-xl-3">
            <main class="p-2 border rounded min-vh-100" id="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="row mb-n1 border bg-info shadow-lg text-muted w-100 mx-0">
        <partial name="~/Views/Shared/Partials/General/Footer/_FooterPartial.cshtml" />
    </footer>
</body>
<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
<partial name="~/Views/Shared/Partials/General/Refrences/js/_DataTablesJsPartial.cshtml">
<partial name="~/Views/Shared/Partials/General/NavBar/_GeneralNavBarPartial.cshtml" />
<partial name="~/Views/Shared/Partials/General/NavBar/_ProvinceNavBarPartial.cshtml" />
<partial name="~/Views/Shared/Partials/General/NavBar/_CountyNavBarPartial.cshtml" />
<partial name="~/Views/Shared/Partials/General/NavBar/_DistrictNavBarPartial.cshtml" />

        @await RenderSectionAsync("Scripts", required: false)
</html>

<script type="text/javascript">
    var _transferUrl = '@Url.Action("Index", "Document")';



    var _reportUrl = '@Url.Action("Index", "Report")';



</script>
<script type="text/javascript">
    $('#navbar a').click(function (e) {
        $('#navbar a,#home').removeClass('navBar-active');
        $(this).addClass('navBar-active');
    });

    $(function () {
        $("#transfer").off("click");
        $("#transfer").on("click", function (e) {
            e.preventDefault();
            $.get(_transferUrl).done(function (result) {
                $("#main").html(result);
            });
        });
        $("#report").off("click");
        $("#report").on("click", function (e) {
            e.preventDefault();
            $.get(_reportUrl).done(function (result) {
                $("#main").html(result);
            });
        });
    })
</script>

