@{
    Layout = null;
}
<div class="modal-dialog modal-xl " id="modal">
    <div id="operation-box">
    </div>
</div>

<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">

    <script type="text/javascript">
        var _userNameValidationUrl = '@Url.Action("UsernameValidation", "ForgotPassword")';
        var _chooseTheMethodUrl = '@Url.Action("ChooseTheMethod", "ForgotPassword")';
        var _verificationUrl = '@Url.Action("VerificationCode", "ForgotPassword")';
        var _resetPasswordUrl = '@Url.Action("ResetPassword", "ForgotPassword")';
    </script>
    <script type="text/javascript">
        $(function () {
            $.get(_userNameValidationUrl).done(function (result) {
                $("#operation-box").html(result);
            })
        })

        function LoadChooseTheMethodUrl() {
            $.get(_chooseTheMethodUrl).done(function (result) {
                $("#operation-box").html(result);
            });
        };

        function LoadVerificationUrl() {
            $.get(_verificationUrl).done(function (result) {
                $("#operation-box").html(result);
            })
        };

        function LoadResetPasswordUrl() {
            $.get(_resetPasswordUrl).done(function (result) {
                $("#operation-box").html(result);
            })
        };


    </script>
