@model Domain.DTOs.Security.Login.ResetPasswordVM
@{
    Layout = null;
}
<div class="modal-content" id="content">
    <div class="modal-header">
        <div class="modal-title">
            <div class="btn btn-outline-primary btn-sm  my-2 mx-1">فراموشی گذر واژه -  تعیین گذر واژه جدید</div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="border border-top-0 ">
        <p class="fs-8 mt-3 fw-bold">
            <i class="fa fa-lg me-3 ms-2 fa-bullseye text-primary"></i>
            گذر واژه و تکرار آن را، در ورودی های مربوطه وارد کنید.
        </p>
    </div>
    <form id="resetPasswordForm" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal-body">
            <div class="row px-2">
                <div class="col-xl-8">
                    <div class="row mt-2 p-0">
                        <div class="col-4">
                            <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                            <label class="control-label">گذر واژه :</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Password" class="form-control w-100 " tabindex="2" autocomplete="off" placeholder="مقدار مناسبی برای گذر واژه وارد کنید ..." />
                            <span asp-validation-for="Password" class="text-danger fs-8"></span>
                        </div>
                    </div>
                    <div class="row mt-2 p-0">
                        <div class="col-4">
                            <i class="fa fa fa-caret-square-o-left text-primary ms-2"></i>
                            <label class="control-label ">تکرار گذر واژه :</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="ConfirmPassword" class="form-control w-100 " tabindex="2" autocomplete="off" placeholder="گذر واژه را تکرار کنید ..." />
                            <span asp-validation-for="ConfirmPassword" class="text-danger fs-8"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center align-items-center mt-lg-5">
            <button type="submit" class="btn btn-primary px-5 align-items-center" id="submitBtn" tabindex="17">
                <i class="fa fa-save mx-2"></i>
                ثبت
            </button>
            <button type="button" class="btn btn-secondary cursor-pointer mx-1" tabindex="17" data-bs-dismiss="modal">
                &times;
            </button>
        </div>

    </form>
</div>
<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
    <script type="text/javascript">
        var _resetPasswordUrl = '@Url.Action("ResetPassword", "ForgotPassword")'
    </script>
    <script type="text/javascript">
        $(function () {
            $("#submitBtn").off("click");
            $("#submitBtn").on("click", function (e) {
                e.preventDefault();
                var $form = $("#resetPasswordForm");
                if ($form.valid()) {
                    $("#submitBtn").prop('disabled', true);
                    var formData = new FormData($form.get(0));
                    $.ajax({
                        url: _resetPasswordUrl,
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            if (result.success) {
                                Swal.fire({
                                    title: result.message,
                                    icon: 'success',
                                    showConfirmButton: false,
                                    timer: 4000,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutDown'
                                    }
                                });
                                $("#forgotPassword-box").removeClass("in");
                                $(".modal-backdrop").remove();
                                $("#forgotPassword-box").hide();
                            } else {
                                Swal.fire({
                                    title: 'خطا',
                                    icon: 'error',
                                    text: result.message,
                                    showConfirmButton: false,
                                    timer: 4000,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutDown'
                                    }
                                })
                            }
                        }
                    })
                }
            });
        });
    </script>
