/*general*/
@font-face {
    font-family: 'koodak';
    src: url('../../fonts/KoodakBold.eot')format('eot'), url('../../fonts/KoodakBold.ttf')format('truetype'), url('../../fonts/KoodakBold.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nazanin';
    src: url('../../fonts/Nazanin.eot')format('eot'), url('../../fonts/Nazanin.ttf')format('truetype'), url('../../fonts/Nazanin.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yekan';
    src: url('../../fonts/Yekan.eot')format('eot'), url('../../fonts/Yekan.ttf')format('truetype'), url('../../fonts/Yekan.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: yekan;
    direction: rtl;
}

.fs-8 {
    font-size: 0.8rem !important;
}

.fs-9 {
    font-size: 0.7rem !important;
}

.fs-10 {
    font-size: 0.6rem !important;
}

.fs-11 {
    font-size: 0.1rem !important;
}

.px-7 {
    padding-right: 100px !important;
    padding-left: 100px !important;
}

.mb-n1 {
    margin-bottom: -3rem !important;
}

.cursor {
    cursor: default;
}

.alert {
    width: 50% !important;
}

.square {
    width: 40px;
    height: 40px;
    padding-right:14px;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-close {
    cursor: pointer;
    color: red;
    position: absolute;
    left: 10px;
}

.w-pill {
    width: 5rem;
}

.w-90 {
    width: 90%;
}

.hidden {
    display: none;
}

.footer-animation, .header-animation {
    display: inline-block;
    animation: fadeIn;
    animation-duration: 8s;
}

.lds-ellipsis {
    color: #007BFF;
}

    .lds-ellipsis,
    .lds-ellipsis div {
        box-sizing: border-box;
    }

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33.33333px;
        width: 13.33333px;
        height: 13.33333px;
        border-radius: 50%;
        background: currentColor;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/*table*/

.table thead tr th {
    text-align: center !important;
}

.dt-paging {
    text-align: center !important;
    width: 100% !important;
}

.dt-search {
    text-align: right !important;
}

.dt-input {
    width: 25rem !important;
}

table tbody tr.selected td {
    background-color: #007BFF ;
    color: #fff !important;
}

/*header*/
header {
    color: #005DA5;
    box-sizing: border-box;
}

    header h1 {
        font-size: 2rem;
    }

.partial-time {
    font-size: 0.9rem;
    box-sizing: border-box;
}
/*navbar*/
.nav bar li a:active {
    color: #fff !important;
    cursor: pointer;
}

.navBar-active, .navBar li a:hover {
    background: rgb(0,123,255);
    color: #fff !important;
    border-radius: 3px;
    cursor: pointer;
}

.nav-background {
    background-color: rgb(242,242,242);
}

#navbar {
    font-size: 0.9rem;
}
/*container*/
.container {
    padding-bottom: 2.5rem;
}

/*footer*/
.footer {
    font-size: 0.8rem;
}

/*media*/
@media (max-width:767px) {
    .footer {
        font-size: 0.9rem;
    }

    .container {
        margin-top: 8rem;
    }

    .alert {
        width: 100% !important;
    }

    #copy {
        order: 2;
    }

    #footer-logo {
        order: 1;
    }

    input, input::placeholder, textarea, textarea::placeholder {
        font-size: 0.55rem;
    }

    label {
        font-size: 0.6rem;
    }

    #employmentStatus,
    #educationTypes,
    #provinceDepartmentStatus,
    #countyDepartmentStatus,
    #districtDepartmentStatus,
    #provinceUserStatus,
    #countyUserStatus,
    #districtUserStatus,
    #userStatus,
    #roleStatus,
    span {
        font-size: 0.55rem !important;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
}

@media (max-width:320px) {
    body {
        min-height: 120vh;
    }

    label {
        font-size: 0.6rem;
    }
}

@media (min-width:767px){
    .modalCustom{
        height:22.7rem;
    }
}

/*main*/
.avatarUploadBox {
    width: 200px;
    height: 200px;
    border: 2px dotted #ccc;
    cursor: grab;
}

.avatarProfileBox {
    width: 15rem;
    height: 15rem
}
