<nav class="row m-0 p-0 bg-light border shadow fixed-top border border-bottom-0 border-end-0 border-start-0 border-3 border-primary">
    <div class="col-12 col-md-10 h-100">
        <div class="d-flex align-items-center justify-content-center my-2 ">
            <img src="~/icons/general/header/management.png" class="header-animation" />
            <a asp-controller="home" asp-action="index" class="text-decoration-none header-animation"><h2>سامانه مدیریت منابع انسانی</h2></a>
        </div>
    </div>
    <div class="col-12 col-md-2 text-center partial-time mt-md-2 border-right cursor header-animation" style="height:50px">
        <partial name="~/Views/Shared/Partials/Date/_DatePartial.cshtml" />
    </div>
</nav>
