@model Domain.DTOs.Security.UserRole.UserRoleRegisterVM
@{
    Layout = null;
    var proviveDepartments = ViewBag.ProvinceDepartments != null
          ? ViewBag.ProvinceDepartments
          : new List<SelectListItem>();

    var countyDepartments = ViewBag.CountyDepartments != null
        ? ViewBag.CountyDepartments
        : new List<SelectListItem>();

    var districtDepartments = ViewBag.DistrictDepartments != null
        ? ViewBag.DistrictDepartments
        : new List<SelectListItem>();

    var roles = ViewBag.Roles != null
        ? ViewBag.Roles
        : new List<SelectListItem>();
}
<div class="modal-dialog modal-xl " id="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <div class="btn btn-outline-primary btn-sm  my-2 mx-1">افزودن در سطح بخش</div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="border border-top-0 ">
            <p class="fs-8 mt-3 fw-bold">
                <i class="fa fa-lg me-3 ms-2 fa-bullseye text-primary"></i>
                مشخصات خواسته شده، را با دقت در ورودی مربوطه وارد کنید.
            </p>
        </div>
        <form id="registerForm" enctype="multipart/form-data" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="modal-body">
                <div class="row px-2">
                    <div class="col-xl-6">
                        <div class="row mt-2 p-0">
                            <div class="col-5 col-lg-4">
                                <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                                <label class="control-label">شعبه استان :</label>
                            </div>
                            <div class="col-7 col-lg-8">
                                <select class="form-select" aria-label=".form-select-sm" asp-items="proviveDepartments" id="provinceDepartmentStatus" tabindex="1">
                                    <option selected class="fs-7">شعبه سطح استان خود را انتخاب کنید ...</option>
                                </select>
                                <span class="text-danger fs-8" id="provinceDepartmentError"></span>
                            </div>
                        </div>
                        <div class="row mt-2 p-0">
                            <div class="col-5 col-lg-4">
                                <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                                <label class="control-label">شعبه شهرستان :</label>
                            </div>
                            <div class="col-7 col-lg-8">
                                <select class="form-select" aria-label=".form-select-sm" asp-items="countyDepartments" id="countyDepartmentStatus" tabindex="2">
                                    <option selected class="fs-7">شعبه سطح شهرستان خود را انتخاب کنید ...</option>
                                </select>
                                <span class="text-danger fs-8" id="countyDepartmentError"></span>
                            </div>
                        </div>
                        <div class="row mt-2 p-0">
                            <div class="col-5 col-lg-4">
                                <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                                <label class="control-label">شعبه بخش :</label>
                            </div>
                            <div class="col-7 col-lg-8">
                                <select class="form-select" aria-label=".form-select-sm" asp-items="districtDepartments" id="districtDepartmentStatus" tabindex="3">
                                    <option selected class="fs-7">شعبه سطح بخش خود را انتخاب کنید ...</option>
                                </select>
                                <span class="text-danger fs-8" id="districtDepartmentError"></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">
                        <div class="row mt-2 p-0">
                            <div class="col-5 col-lg-4">
                                <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                                <label class="control-label">پرسنل :</label>
                            </div>
                            <div class="col-7 col-lg-8">
                                <select class="form-select" aria-label=".form-select-sm" id="districtUserStatus" tabindex="4">
                                    <option selected class="fs-7" id="userStatus">پرسنل مورد نظر را انتخاب کنید ...</option>
                                </select>
                                <span class="text-danger fs-8" id="userError"></span>
                            </div>
                        </div>
                        <div class="row mt-2 p-0">
                            <div class="col-5 col-lg-4">
                                <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                                <label class="control-label">معاونت :</label>
                            </div>
                            <div class="col-7 col-lg-8">
                                <select class="form-select" aria-label=".form-select-sm" asp-items="roles" id="roleStatus" tabindex="5">
                                    <option selected class="fs-7">معاونت مربوطه، را انتخاب کنید ...</option>
                                </select>
                                <span class="text-danger fs-8" id="roleError"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center mt-lg-5">
                <button type="submit" class="btn btn-primary px-5 align-items-center" id="submitBtn" tabindex="6">
                    <i class="fa fa-save mx-2"></i>
                    ثبت
                </button>
                <button type="button" class="btn btn-secondary cursor-pointer mx-1" tabindex="7" data-bs-dismiss="modal">
                    &times;
                </button>
            </div>
        </form>
    </div>
</div>
<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">

    <script type="text/javascript">
        var _getUsersUrl = '@Url.Action("GetUsersForSelectBox", "Access", new { area = "District" })';
        var _registerUrl = '@Url.Action("UserRoleRegister", "Access", new { area = "District" })';
    </script>

    <script type="text/javascript">
        $.fn.Validation = function () {
            var result = true;
            var provinceDepartmentError = $("#provinceDepartmentError");
            var countyDepartmentError = $("#countyDepartmentError");
            var districtDepartmentError = $("#districtDepartmentError");
            var userError = $("#userError");
            var roleError = $("#roleError");

            var $provinceDepartment = $("#provinceDepartmentStatus").find(':selected').text();
            var $countyDepartment = $("#countyDepartmentStatus").find(':selected').text();
            var $districtDepartment = $("#districtDepartmentStatus").find(':selected').text();

            var $user = $("#districtUserStatus").find(':selected').text();
            var $role = $("#roleStatus").find(':selected').text();

            var isDisabled = $("#provinceUserStatus").is('[disabled]');

            if ($provinceDepartment === "شعبه سطح استان خود را انتخاب کنید ...") {
                provinceDepartmentError.text("تکمیل ورودی شعبه استان ضروری است.");
                result = false;
            } else {
                provinceDepartmentError.text('');
            }

            if ($countyDepartment === "شعبه سطح شهرستان خود را انتخاب کنید ...") {
                countyDepartmentError.text("تکمیل ورودی شعبه شهرستان ضروری است.");
                result = false;
            } else {
                countyDepartmentError.text('');
            }

            if ($districtDepartment === "شعبه سطح بخش خود را انتخاب کنید ...") {
                districtDepartmentError.text("تکمیل ورودی شعبه بخش ضروری است.");
                result = false;
            } else {
                districtDepartmentError.text('');
            }

            if ($user === "پرسنل مورد نظر را انتخاب کنید ..." && isDisabled == true) {
                result = false;
            } else {
                userError.text('');
            }

            if ($role === "معاونت مربوطه، را انتخاب کنید ...") {
                roleError.text("تکمیل ورودی معاونت ضروری است.")
                result = false;
            } else {
                roleError.text('');
            }

            $("#countyDepartmentStatus").change(function () {
                var $countyDepartment = $("#countyDepartmentStatus").find(':selected').text();
                if ($countyDepartment !== "شعبه سطح شهرستان خود را انتخاب کنید ...") {
                    countyDepartmentError.text('');
                } else {
                    countyDepartmentError.text("تکمیل ورودی شعبه شهرستان ضروری است.");
                    result = false;
                }
            });
            $("#districtDepartmentStatus").change(function () {
                var $districtDepartment = $("#districtDepartmentStatus").find(':selected').text();
                if ($countyDepartment !== "شعبه سطح بخش خود را انتخاب کنید ...") {
                    districtDepartmentError.text('');
                } else {
                    districtDepartmentError.text("تکمیل ورودی شعبه بخش ضروری است.");
                    result = false;
                }
            });
            $("#roleStatus").change(function () {
                var $role = $("#roleStatus").find(':selected').text();
                if ($role !== "معاونت مربوطه، را انتخاب کنید ...") {
                    roleError.text('');
                } else {
                    roleError.text("تکمیل ورودی معاونت ضروری است.");
                    result = false;
                }
            });

            return result;
        }

        //Seed data to select user
        $("#provinceDepartmentStatus").change(function () {

            var provinceDepartment = $("#provinceDepartmentStatus").find(':selected').val();

            if (provinceDepartment !== "شعبه سطح استان خود را انتخاب کنید ...") {
                $('#provinceDepartmentStatus').attr('disabled', true);
                $('#countyDepartmentStatus').attr('disabled', false);
            } else {
                $('#districtUserStatus ,#countyDepartmentStatus ,#districtDepartmentStatus').attr('disabled', true);
            }

            $("#countyDepartmentStatus").change(function () {
                var countyDepartment = $("#countyDepartmentStatus").find(":selected").val();

                if (countyDepartment !== "شعبه سطح شهرستان خود را انتخاب کنید ...") {
                    $('#countyDepartmentStatus').attr('disabled', true);
                    $('#districtDepartmentStatus').attr('disabled', false);
                } else {
                    $('#districtUserStatus ,#districtDepartmentStatus').attr('disabled', true);
                }


                $("#districtDepartmentStatus").change(function () {

                    $('#districtUserStatus').empty();

                    var districtDepartment = $("#districtDepartmentStatus").find(":selected").val();

                    if (districtDepartment !== "شعبه سطح بخش خود را انتخاب کنید ...") {

                        $('#districtUserStatus').attr('disabled', false);

                        var direction = {
                            level: "2",
                            province: provinceDepartment,
                            County: countyDepartment,
                            District: districtDepartment
                        };

                        $.post(_getUsersUrl, direction)
                            .done(function (result) {
                                if (result.success) {
                                    $.each(result.data, function () {
                                        $("#districtUserStatus").append('<option id="userStatus" value=' + this.value + '>' + this.text + '</option>');
                                    });
                                }
                                $('#roleStatus').attr('disabled', false);
                            });

                    } else {
                        $('#districtUserStatus, #roleStatus').attr('disabled', true);
                        $("#districtUserStatus").append('<option class="fs-7" id="userStatus" >پرسنل مورد نظر را انتخاب کنید ...</option>');
                    }
                });
            });
        });


        //Disable select user
        $('#countyDepartmentStatus,#districtDepartmentStatus, #roleStatus, #districtUserStatus').attr('disabled', true);

        $(function () {
            $("#submitBtn").off("click");
            $("#submitBtn").on("click", function (e) {
                var validation = $.fn.Validation();
                e.preventDefault();
                if (validation == true) {
                    $("#submitBtn").prop('disabled', true);

                    var userId = $("#districtUserStatus").find(':selected').val();
                    var roleId = $("#roleStatus").find(':selected').val();

                    var formData =
                    {
                        userId: userId,
                        roleId: roleId
                    };

                    $.post(_registerUrl, formData).done(function (result) {
                        if (result.success) {
                            GridReload();
                            $("#operation-box").modal("toggle");
                            Swal.fire({
                                title: result.message,
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 4000,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutDown'
                                }
                            });
                        } else {
                            Swal.fire({
                                title: 'خطا',
                                icon: 'error',
                                text: result.message,
                                showConfirmButton: false,
                                timer: 4000,
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutDown'
                                }
                            })
                        }
                    })
                        .always(function () {
                            $("#submitBtn").prop('disabled', false);
                        });
                };
            });
        });


    </script>
